﻿@inherits PortableRazor.MvcViewBase
@using PortableRazor.Web.Binding
@using PortableRazor.Web.Mvc

<div class="row">
    <div class="col-sm-12">

        <h3>Demo Selection</h3>

        <a class="btn btn-default button-big" href="@Mvc.Action("Index", "Mvc.Search")">Mvc: SpotifyRazor</a>

        <a class="btn btn-default button-big" href="@Mvc.Action("Index", "Mvvm.Main")">MVVM: Demos</a>

    </div>
</div>
