﻿@inherits SpotifyRazor.ViewModels.DemoViewModel
@using PortableRazor.Web.Binding

<div class="row">
    <div class="col-sm-12">

        <!-- content is changed continously from the code -->
        <h3 class="semi-dark-text">Binding Demo <span class="label label-primary" @Binding.Span(ElapsedTime, "{0:0.00}")>label</span></h3>


        <div>
            <h4 class="semi-dark-text">Two-Way Binding</h4>

            <p align="justify">
                Both input elements, A and B, are synchronzed with the 'Number' bindable defined in the ViewModel.
                The value is reflected to the badge at the small headline of the 'One-Way Binding'-block, which is basically only a readonly binding.
            </p>

            <span>Number A</span>
            <!-- CAUTION: this call will set the 'id', 'oninput' and 'value' attribute of the input element. Do not set them a second time! -->
            <input type="text" class="form-control" @Binding.Input(Number, BindingMode.TwoWay)>

            <span>Number B</span>
            <!-- CAUTION: this call will set the 'id', 'oninput' and 'value' attribute of the input element. Do not set them a second time! -->
            <input type="text" class="form-control" @Binding.Input(Number, BindingMode.TwoWay)>
        </div>


        <div>
            <!-- CAUTION: this call will set the 'id' attribute of the span element. Do not set it a second time! -->
            <h4 class="semi-dark-text">One-Way Binding <span class="badge" @Binding.Span(Number)>badge</span></h4>

            <p align="justify">
                The input elements A is synchronzed like the numbers above.
                Changes of the bindable are reflected to the input element and vise versa.
                B on the other hand has a 'Read'-Binding which means it will receive changes from the bindable, but is not able to change it.
                And C behaves the other way around. If the content of the input element changes, the bindable will change too but it will not receive any changes form other sources.
            </p>

            <span>Query A (TwoWay)</span>
            <input type="text" class="form-control" @Binding.Input(Query, BindingMode.TwoWay)>

            <span>Query B (Read)</span>
            <input type="text" class="form-control" @Binding.Input(Query, BindingMode.Read)>

            <span>Query C (Write)</span>
            <input type="text" class="form-control" @Binding.Input(Query, BindingMode.Write)>
        </div>

        <div>
            <h4 class="semi-dark-text">Custom Event Handler</h4>

            <p align="justify">
                TODO
            </p>

            <!-- booleans can be bound to checkboxes-->
            <div class="checkbox">
                <label>
                    <input type="checkbox" onchange="@Events.OnChange(async (e) => System.Diagnostics.Debug.WriteLine($"{e.Id} checked: {await e.Id.GetCheckedAsync()}"))">
                    Look at the Debug Console.
                </label>
            </div>

            <!-- not sure why this check box has no round corners like typical for bootstrap -->

            <!-- first attempt to change some classes based on the current value of a bindable -->
            <!-- here we change the classes of a span based on the value of a boolean -->
            <!-- first we need an BindingId that set the object to alter-->
            @{var yayLabelId = Binding.GenerateId();}
            <div class="checkbox">
                <label>
                    <input type="checkbox" @Binding.Checkbox(IsEnabled)>Is Enabled
                </label> <span id="@yayLabelId" class="label label-success">Yay</span>
            </div>


            

            <!-- then, anywhere in the code (here, at the end of the file, inline, whatever )
            we register a custom action for the change even of the bindable
            and in this event we replace the classes by using the id we just set to the span we want to alter-->
            @IsEnabled.OnChange(async (value) =>
            {
                if (value) await yayLabelId.ReplaceClassAsync("label-danger", "label-primary");
                else await yayLabelId.ReplaceClassAsync("label-primary", "label-danger");
            })
        </div>

        <div>
            <h4 class="semi-dark-text">Manual Bindings</h4>

            <p align="justify">
                This shows a few details about how the binding we've seen before works.
                'Number X' shows how a 'Write'-binding works.
                'Number Y' shows what's behind a 'Read'-binding.
                'Number Z' combines both of them to a 'TwoWay'-binding
                and 'Span W' shows the a span.
            </p>

            <!-- this demonstates a manual one-way-coupling
            everytime the content of the input element changes, the value of an bindable is also changed. -->
            <span>Number X (Write)</span>
            <input type="text" oninput="@Events.OnInput(async (e) => Number.TryParse(await e.Id.GetValueAsync()))" class="form-control">

            <!-- this demonstates the other way around (also one-way)
            evertime the bindable changes, the content of the input element will change, too -->
            <span>Number Y (Read)</span>
            <!-- CAUTION: do not set the id to multiple DOM elements! -->
            @{var idNumberY = Binding.GenerateId();} 
            <input id="@idNumberY" type="text" value=@($"{Number}") @Number.OnChange(async (n) => await idNumberY.SetValueAsync(n.ToString())) class="form-control">

            <!-- and here we have a manual two-way-coupling
            the value of the input field is synchronized with the Number-Bindable.
            NOTE: We passed the "idNumberZ" in the "(at)Binding.OnInput(...)", this is optional but avoids the creation of an additional hidden bindable.
            If "idNumberZ" would have been created in the ViewModel code, you could also hook the "Input" event there. -->
            <span>Number Z (TwoWay)</span>
            @{var idNumberZ = Binding.GenerateId();}
            <input id="@idNumberZ" type="text" value=@($"{Number}") @Number.OnChange(async (n) => await idNumberZ.SetValueAsync($"{n}")) oninput="@Events.OnInput(idNumberZ, async (e) => Number.TryParse(await e.Id.GetValueAsync()))" class="form-control">

            <!-- this is what is behind the (at)Binding.Span(...) -->
            <br/>
            @{var idSpanW = Binding.GenerateId();}
            <span>Span W</span><br/>
            <span id="@idSpanW" @Number.OnChange(async (n) => await idSpanW.SetTextAsync($"The value of the Number-binding is: {n:0.0}"))>@($"The value of the Number-binding is: {Number.Value:0.0}")</span>
            
        </div>

        <div>
            <h4 class="semi-dark-text">Call ViewModel Modthods</h4>

            <p align="justify">
                TODO
            </p>

            <!-- calling a method of the view model-->
            <button class="btn btn-primary btn-sm button-big" onclick="@Events.OnClick((e) => Foo("Max Mustermann", 27))">Call ViewModel (create a breakpoint to see)</button>
        </div>
    </div>
</div>
