﻿@inherits SpotifyRazor.ViewModels.ListDemoViewModel
@using PortableRazor.Web.Binding

<div class="row">
    <div class="col-sm-12">

        <h3 class="semi-dark-text">Binding List Demo</h3>

        <div>
            <h4 class="semi-dark-text">Add a new element to the list</h4>

            <span>Artist</span>
            <input type="text" class="form-control" @Binding.Input(ArtistToAdd, BindingMode.TwoWay)/>

            <span>Album</span>
            <input type="text" class="form-control" @Binding.Input(AlbumTitleToAdd, BindingMode.TwoWay)/>

            <span>Year</span>
            <input type="text" class="form-control" @Binding.Input(YearToAdd, BindingMode.TwoWay)/>

            <br/>
            <p align="justify">
                By clicking the button, a new list item is created from the values of the input fields.
                The to span-Elements below show the use of computed bindables the first one is setup in the ViewModel code, the second one in Razor.
            </p>
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e)=>AddAlbum())">Add Album</button>

            <!-- Display the content of a computed bindable it will change everytime a subscribed bindable changes -->
            <div style="text-align: center">
                <span @Binding.Span(CombinedToAdd)></span>
            </div>

            <!-- This is equivalent to the computed bindble above, this time completely in the Razor part -->
            <div style="text-align: center">
                <span @Binding.Span(AutoDispose(new BindableComputed<string>(() => $"{ArtistToAdd} - {AlbumTitleToAdd} ({YearToAdd})", ArtistToAdd, AlbumTitleToAdd, YearToAdd)))></span>
            </div>
        </div>

        
        <div>
            <h4 class="semi-dark-text">Display the dynamic list</h4>

            <p align="justify">
                The dynamic list is displayed using a template.
                All changes that are made to the list, like adding, moving or deleting elements are reflected to the presentation.
            </p>

            <!-- dynamic foreach binding with template -->
            <div class="list-group" @(Binding.Foreach(AlbumList).UseTemplate<SpotifyRazor.Views.Mvvm.Demos.Template.AlbumListItem>())></div>

            <p align="justify">
                Binding the dynamic list without a template results in a simple listing.
            </p>

            <!-- dynamic foreach binding without template -->
            <div @Binding.Foreach(AlbumList) style="margin-left: 10px"></div>
            <br/>

            <!-- dynamic foreach binding with inline template -->
            <div @Binding.Foreach(AlbumList).UseTemplate((listItem)=> $"<div class='semi-dark-text'>{listItem.Value.AlbumTitle}</div>") style="margin-left: 10px"></div>

        </div>
        <div>
            <h4 class="semi-dark-text">Working with static lists</h4>

            <p align="justify">
                Static lists can be bound like dynamic ones but they can not change but they can be used with templates, too.
                This is because they do not require a BindableList object.
                Instead you can use simple arrays or BindableSelection objects, e.g., created from an Enum.
                These last option is very closely related to the Binding.Selection(...) feature.
            </p>
            <div @Binding.Foreach(TypeOfRecord) style="margin-left: 10px"></div>
            <br />

            <!-- using inline templates -->
            <ul type="square" @Binding.Foreach(new[] { "red", "yellow", "green", "blue" }).UseTemplate((item) => $"<li>{item}</li>")></ul>
        </div>

    </div>
</div>
