﻿@inherits SpotifyRazor.ViewModels.PersonViewModel
@using PortableRazor
@using PortableRazor.Web.Binding    
@using PortableRazor.Web.Mvvm
@using SpotifyRazor.ViewModels

<div class="row">
    <div class="col-sm-12">
        <h3>Model-View-ViewModel Demo</h3>

        <div>
            <span>Name:</span>
            <input class="form-control" type="text" @Binding.Input(Name)/>
        </div>
        <div>
            <span>Age:</span>
            <input class="form-control" type="text" @Binding.Input(Age) />
        </div>

        <div class="form-group div-input">
            <!-- calling methods of the view model -->
            <!-- the first one is a special case where a BindableCallback is created manually, which is not needed in general -->
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => ChangeAge(this.Name.Value, this.Age.Value, false))">make younger</button>
            <!-- these is the more simple version. Note that it is type save -->
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => ChangeAge(this.Name.Value, this.Age.Value, true))">make older</button>
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => TellMovie(this.Name.Value, this.Movie.Value))">tell movie</button>
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => TellMovie("Georg", AutoDispose(new FavoriteMovie() {Name = "Pulp Fiction"}))) ">tell another movie</button>
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => AcceptEverything(new {Foo = "bar", Bla = "blub", Name = this.Name}))">give me anything</button>
        </div>
        <div>
            <!-- a simple output using a span which allows css classes -->
            <!-- the displayed content will be updated if the bindable changes -->
            <span @Binding.Span(Output)></span>
        </div>

        <div class="form-group div-input">

            <!-- Navigation from Code -->
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick((e) => ShowDetails())">Show Details (Code)</button>

            <!-- Navigate directly from Razor
            Note:   * this is the same synthax like on the code side
                    * the paramertes send with the "with()" are type safe
                    * passing bindables or their value makes a difference:
                        - if you pass the bindable, the function will called with the current value of the bindable
                        - if you pass the value, the function will called value the bindable had when rendering the view
            -->
            <button class="btn btn-default btn-sm button-big" onclick="@(Navigation.To<SpotifyRazor.Views.Mvvm.Demos.PersonDetails>().With(this.Name.Value, this.Age).Go())">Show Details (Razor)</button>
        </div>
    </div>
</div>

