﻿@inherits SpotifyRazor.ViewModels.PersonDetailsViewModel
@using PortableRazor.Web.Binding    
@using SpotifyRazor.ViewModels

<div class="row">
    <div class="col-sm-12">
        <h3>Model-View-ViewModel Demo</h3>

        <div>
            <!-- very basic output of bindables value generated during rendering time of the view -->
            <!-- the displayed content will NOT be updated if the bindable changes -->
            <span>Name:</span> <b>@this.Name</b>
        </div>
        <div>
            <span>Age:</span> <b>@this.Age</b>
        </div>
    
        <div>
            <span>Movie:</span> <b>@this.Movie.Value.Name</b> (@this.Movie.Value.Year)
        </div>

        <div class="div-input">
            <!-- Navigation to the previous view (from code side) -->
            <button class="btn btn-default btn-sm button-big" onclick="@Events.OnClick(GoBack)">NavigateBack (Code)</button>

            <!-- Navigation to the previous view directly from Razor -->
            <button class="btn btn-default btn-sm button-big" onclick="@Navigation.Back()">NavigateBack (Razor)</button>
        </div>
    </div>
</div>

