﻿@inherits PortableRazor.MvcViewBase
@using SpotifyRazor.ViewModels


<div class="row">
    <div class="col-sm-12">

        @MvvmNavigation.Slot(ViewBag.Model.Slot)

        <div class="form-group div-input">
            <button class="btn btn-primary btn-sm button-big" onclick="@Mvc.CallController("ChangeToDemo")">Binding Demo</button>
            <button class="btn btn-primary btn-sm button-big" onclick="@(ViewBag.Model.Slot.NavigateTo<SpotifyRazor.Views.Mvvm.Demos.ListDemo>().Go())">List Demo</button>

            <button class="btn btn-primary btn-sm button-big" onclick="@Mvc.CallController("ChangeToPerson")">Change To Person (Code)</button>
            <button class="btn btn-primary btn-sm button-big" onclick="@(ViewBag.Model.Slot.NavigateTo<SpotifyRazor.Views.Mvvm.Demos.Person>().Go())">Change To Person (Razor)</button>
        </div>
    </div>
</div>