﻿@inherits PortableRazor.Web.Mvc.MvcLayoutBase
<!DOCTYPE html>
<html>


@{
/*
    This is a typical default Layout. If you just have one, place it into <Assembly>.Views namespace.
    The name 'MvcLayout' is important since this is default value passed to the controller's constructors.
    The leading underscore '_' is used to mark .cshtml that can not be displayed directly.
    You can use different Layouts, too:
        - You can pass a default layout name to a controller's constructor to set the layout on a per controller level.
        - You can also pass the layout name to View(...)-method of a controller to set the layout on a per view level.
        Attention:  The name of the layout is relative to the <Assembly>.Views namespace.
                    For a layout file '<Assembly>.Views.Home._MyHomeLayout' the correct name to pass would be 'Home._MyHomeLayout'.
                    The used layout doesn't have to be in the same namespace as the controller or it's views. You are free to organize them.
*/
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Just a Sample..">
    <meta name="author" content="Kai Rohmer">

    <title>Spotify Razor</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/MainTheme.css">

    <script rel="javascript" type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
    <script rel="javascript" type="text/javascript" src="js/bootstrap.min.js"></script>
    <script rel="javascript" type="text/javascript" src="js/moment.min.js"></script>

</head>
<body>
    <div class="container body-content">
        <div>
            @if (@History.CanGoBack)
            {
                <button class="btn btn-warning" onclick="@Mvc.NavigateBack()">Go Back</button>
            }
        </div>

        @RenderBody()

        <div class="copyright">
            &copy; @DateTime.Now.Year - Spotify Razor
        </div>

        @RenderBindingScript()
    </div>
</body>
</html>