﻿@inherits PortableRazor.MvcViewBase

<div class="row">
    <div class="col-sm-12">

        <h3>Found Albums</h3>

        <div class="list-group">
            @foreach (var album in ViewBag.Model)
            {
                @Html.Partial("Mvc.Templates.ListItemAlbum", @album)
            }
        </div>

    </div>
</div>
