﻿@inherits PortableRazor.MvcViewBase

<div class="row">
    <div class="col-sm-12">

        <h3>Found Artists:</h3>

        <div class="list-group">
            @foreach (var artist in ViewBag.Model)
            {
                @Html.Partial("Mvc.Templates.ListItemArtist", @artist)
            }
        </div>
    </div>

</div>
