﻿@inherits PortableRazor.MvcViewBase
@using PortableRazor.Web.Binding
@using PortableRazor.Web.Mvc

<div class="row">
    <div class="col-sm-12">

        <h3>Search</h3>
        @using (Mvc.BeginForm("Request", "Mvc.Search"))
        {
            <div class="form-group div-input">
                <input class="form-control" type="text" name="query" placeholder="query" />
            </div>

            <div class="form-group div-input">
                <button type="submit" name="searchFor" value="artist" class="btn btn-success button-big">Search for Artist</button>
            </div>
            <div class="form-group div-input">
                <button type="submit" name="searchFor" value="album" class="btn btn-success button-big">Search for Album</button>
            </div>
        }
    </div>
</div>
