﻿@inherits PortableRazor.ViewModelListItemTemplate<SpotifyRazor.ViewModels.ListDemoViewModel.Album>

<!-- ATTENTION: the first element of a template will automatically get an Id, so DON'T set one too -->
<div class="list-group-item container">
    <div class="row">
        <div class="col-xs-8 pull-left">
            <!-- Get the bound element by using "Item" -->

            <!-- The Index inside the dynamicList is bindable<int> you can use -->
            <span class="semi-dark-text" @Binding.Span(Item.Index, "{0:00}.")></span>
            <span class="dark-text">@($"{Item.Value.Artist} ")</span>
            <span class="semi-dark-text"> - </span>
            <span class="dark-text">@($"{Item.Value.AlbumTitle}")</span>
            <span class="semi-dark-text">@($" ({Item.Value.Year}) ")</span>
        </div>

        <div class="col-xs-4 pull-right" style="text-align:right">

            <!-- GOLDEN RULE: if you have more than one Binding in one DOM element (including Events),
            create a BindingId and pass it into all of them -->

            <!-- the "Item" has several usefull methods to organize the dynamicList
            Item.List get's you access to the dynamicList the item is in
            Item.Index get's you a bindable with the current index inside the dynamicList
            Item.Prev get's you the previous element (or null)
            Item.Next get's you the next element (or null)
            Item.Move allows you to have the position in the dynamicList
            Item.Remove allows you to remove the item from the dynamicList
            -->
            @{ var buttonUpId = Binding.GenerateId();}
            <span class="badge" id="@buttonUpId" @Binding.Visibility(buttonUpId, Item.IsFirst, true) onclick="@Events.OnClick(buttonUpId, (e) => Item.Move(Item.Index.Value - 1))"><i class="fa fa-angle-up" aria-hidden="true"></i></span>

            @{ var buttonUpDown = Binding.GenerateId();}
            <span class="badge" id="@buttonUpDown"  @Binding.Visibility(buttonUpDown, Item.IsLast, true) onclick="@Events.OnClick(buttonUpDown, (e) => Item.Move(Item.Index.Value + 1))"><i class="fa fa-angle-down" aria-hidden="true"></i></span>

            <span class="badge" onclick="@Events.OnClick((e) => Item.Remove())">Remove</span>
        </div>
    </div>
</div>