﻿@inherits PortableRazor.MvcViewBase

<div class="row">
    <div class="col-sm-12">

        <h3>@ViewBag.Model.Album.Name</h3>
        <span class="semi-dark-text">by </span>@ViewBag.Model.Album.ArtistDisplayName
        <span class="semi-dark-text"> in </span>@ViewBag.Model.Album.Year
        <br />
        <br />
        <div class="list-group">
            @foreach (var track in @ViewBag.Model.Tracks)
            {
                @Html.Partial("Mvc.Templates.ListItemTrack", @track)
            }
        </div>
    </div>

</div>
