﻿@inherits PortableRazor.MvcViewBase

<div class="row">
    <div class="col-sm-12">

        <h3>@ViewBag.Model.Artist.Name</h3>
        <br/>
        @if (@ViewBag.Model.Albums.Count > 0)
        {
            <h4>Albums</h4>
            <div class="list-group">
                @foreach (var albums in @ViewBag.Model.Albums)
                {
                    @Html.Partial("Mvc.Templates.ListItemAlbum", @albums)
                }
            </div>
            <br/>
        }
        @if (@ViewBag.Model.Singles.Count > 0)
        {
            <h4>Singles</h4>
            <div class="list-group">
                @foreach (var single in @ViewBag.Model.Singles)
                {
                    @Html.Partial("Mvc.Templates.ListItemAlbum", @single)
                }
            </div>
        }
    </div>

</div>
