﻿@inherits PortableRazor.MvcViewBase

<div class="list-group-item">
    <span class="semi-dark-text">@($"{ViewBag.Model.TrackNumber:D2}. ")</span>
    <span class="dark-text">@ViewBag.Model.Name</span>
    <span class="badge">@ViewBag.Model.Duration.ToString("mm\\:ss")</span>
</div>
