﻿@inherits PortableRazor.MvcViewBase
@using PortableRazor

<a class="list-group-item" href="@Mvc.Action("Index", "Mvc.Artist", new {spotifyID = ViewBag.Model.ID})">
    <div class="media-left">
        <!-- in general the images have 4 different sizes.. we take the second smallest
             sometimes there are only 3, but in this case the largest one is missing.. so we are still fine -->
        @if (ViewBag.Model.Images.Count > 2)
        {
            <div class="center-cropped-64" style="background-image: url('@ViewBag.Model.Images[2].Url');"></div>
        }
        else
        {
            <!-- adds an empty box of the same size -->
            <div class="center-cropped-64"></div>
        }
    </div>
    <div class="media-body">
        <h4 class="media-heading dark-text">@ViewBag.Model.Name</h4>
        <p class="dark-text">
            @for (int i = 0; i < ViewBag.Model.Genres.Count; i++)
            {
                @PortableRazor.Utilities.HtmlUtilities.StringToTitleCase(@ViewBag.Model.Genres[i])
                if (i < ViewBag.Model.Genres.Count - 1)
                {
                    @Html.Raw(", ")
                }
            }
        </p>
    </div>
</a>
