﻿body {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;

    color: #eee;
	background-color: #333;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /* 
    max-width: 280px;
    */
}

.div-input {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}

.button-big {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-small {
    width: 80%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.div-error {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ff5c5c;
}

.div-message {
    text-align: center;
    color: #eee;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    color: #888;
}

.dark-text {
    color: #333;
}

.semi-dark-text {
    color: #999;
}

/* 
    Used for the artists and album lists
*/
.center-cropped-64 {
  width: 64px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}